<h1>POC on WYSIWYG</h1>

<p>
	You can choose the editor which one you want from the below link
</p>

<p style="text-decoration: underline;">
	<%= link_to 'Redactor', :action => 'redactor', :controller => 'editor_pages' %>
</p>

<p style="text-decoration: underline;">
	<%= link_to 'ckeditor', :action => 'ckeditor', :controller => 'editor_pages' %>
</p>

<p style="text-decoration: underline;">
	<%= link_to 'froala', :action => 'froala', :controller => 'editor_pages' %>
</p>

<p style="text-decoration: underline;">
	<%= link_to 'aloha', :action => 'aloha', :controller => 'editor_pages' %>
</p>